.sideBar {
  float: left;
  margin-right: 7px;
  margin-left: 21px;
  font-size: 10pt;
  margin-top: 8px;
  font-family: Helvetica;
  font-color: white;
  flex: 1;
  flexDirection: 'row';
  max-width:18%;
  position: fixed;
}

.buildBadge {
   border: 2px solid;
  border-radius: 12px;
}