.pageContent{
    text-align: left;
    margin-top: 2%;
    margin-left: 33%;
}

p { margin:0 }

.groupText {
    margin-bottom:3%;
}

h2 {
    color: blue;
    font-family: Edwardian Script ITC
    }