.sideBar {
  float: center;
  margin-right: 7px;
  margin-left: 21px;
  font-size: 10pt;
  margin-top: 8px;
  font-family: Helvetica;
  font-color: white;
  flex: 1;
  flexDirection: 'row';
  max-width:100%;
}

.categoryHeading {
    line-height: 1.5em;
    color: black;
    font-size: 20px;
}

.displayCategory {
    text-align: center;
}

